pre { background-color: gray;}
a { color: blue; }
input {
    font-size: 16px; font-weight: normal; font-style: normal;
    background-color: lightblue;
}
button {
    font-size: 16px; font-weight: normal; font-style: normal;
    background-color: orange;
}

strong { font-weight: bold; color: red; }
